<ng-container *ngIf="recipes.length > 0">
    <div class="row cookbook-row" *ngFor="let recipe of recipes" (click)="onShowDetailsPage(recipe.id)" (mouseenter)="onShowPreview(recipe)" (mouseleave)="onHidePreview()" ))>
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-end cookbook-date-info">Erstellt am: {{recipe.created | dateFormat}}</div>
            </div>
        </div>

        <div class="offset-2 col-8">
            <h2>{{recipe.title}}</h2>
        </div>

        <div class="offset-2 col-8">
            <button type="button" class="btn btn-primary cookbook-btn-round" (click)="onEditRecipe(recipe.id)">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        </div>

        <div [class]="getPreviewClass(detailRecipe.id !== recipe.id)">
            <div class="row recipe-details-row">
                <h4 class="col-12">Zutaten</h4>

                <div class="col-6 text-center" *ngFor="let ingredient of detailRecipe.ingredients">
                    <ng-container *ngIf="ingredient.unitOfMeasure.trim() !== ''">
                        {{ingredient.amount}} &nbsp; {{ingredient.unitOfMeasure}} &nbsp; {{ingredient.ingredientName}}
                    </ng-container>

                    <ng-container *ngIf="ingredient.unitOfMeasure.trim() === ''">
                        {{ingredient.amount}} &nbsp; {{ingredient.ingredientName}}
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="recipes.length === 0">
    <div class="row cookbook-row">
        <div class="offset-2 col-8">
            <h2 *ngIf="!filterOrSearchActive">Es sind leider noch keine Rezepte vorhanden</h2>
            <h2 *ngIf="filterOrSearchActive">Es gibt keine Rezepte für die momentanen Einstellungen</h2>

            <h3>Sie können aber neue erstellen:</h3>
            <h3>Gehen sie dazu in der Leiste auf "Neues Rezept"</h3>
        </div>

    </div>
</ng-container>