<div class="row">
  <div class="col-12" style="text-align: center; font-size: 14pt;">{{ msg }}</div>
</div>

<div class="confirm-box">
  <div style="min-width: 28rem; min-height: 16rem">
    <div class="row" style="align-self: center; height: 12em; align-content: center;">
      <div *ngIf="details !== ''" class="col-12" style="text-align: justify; color: var(--font-color-main)">
          {{ details }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <button class="btn btn-danger" (click)="onConfirm()">Ja</button>
    </div>

    <div class="col-6">
      <button class="btn btn btn-primary" (click)="onClose()">Nein</button>
    </div>
  </div>
</div>
