.msg-dlg {
  width: 40em;
  background-color: var(--contend-area);
  color: var(--font-color-main);
}

.loading-field {
  text-align: center;
  font-size: 10pt;
  color: black;
  font-weight: lighter;
}
