<app-main-layout>
    <app-cookbook-controll-bar
            [chooseCategoryFilter]="categoryFilter"
            [chooseSortDir]="sortDirection"
            [chooseSortField]="sortField"
            (chooseFilter)="onFilter($event)"
            (chooseSorting)="onSort($event.field, $event.dir)"
            (searchRecipe)="onSearchRecipe($event)">
    </app-cookbook-controll-bar>

    <app-recipe-list *ngIf="!appService.loading"
            [recipes]="filteredRecipeList"
            [filterOrSearchActive]="searchRecipe.trim() !== '' || categoryFilter.trim() !== ''">
    </app-recipe-list>
</app-main-layout>